extend ../style-guide

mixin exampleAdvert(advert)

  h2 #{advert.name} (#{advert.width}x#{advert.height})
  p
    img(src='http://img.clock.co.uk/#{advert.width}x#{advert.height}', alt='Example #{advert.name} Advert (#{advert.width}x#{advert.height})')


block content

  h1 Buttons

  p
    a.button(href='#') Anchor Tag
    |  
    button.button(type='button') Button Element
    |  
    input.button(type='submit', value='Form Input')
  p
    a.button(href='#') Anchor Tag #[br]with multi-line
    |  
    button.button(type='button') Button Element #[br]with multi-line
  p
    a.button.button--primary(href='#') Anchor Tag
    |  
    button.button.button--primary(type='button') Button Element
    |  
    input.button.button--primary(type='submit', value='Form Input')

  h3 Block Buttons
  p
    a.button.button--block.is-disabled(href='#') Anchor Tag
    |  
    a.button.button--block.button--primary.is-disabled(href='#') Anchor Tag

  h3 Disabled Buttons
  p
    a.button.is-disabled(href='#') Disabled using class
    |  
    a.button.button--primary.is-disabled(href='#') Disabled using class
    |  
    button.button(type='button', disabled) Disabled using attribute
    |  
    button.button.button--primary(type='button', disabled) Disabled using attribute

  h3 Text Buttons
  p
    a.text-btn(href='#') Anchor Tag as Text
    |  &nbsp; 
    button.text-btn(type='button') Button Element as Text
    |  &nbsp; 
    input.text-btn(type='submit', value='Form Input as Text')
