extend ../style-guide

mixin fontSample(font)

  - var sampleCharacters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890&amp;.,?!@()#£$%*+-–=:;\'‘’"“”'
  - var sampleCharactersAdditional = '{}[]\\/<>^_`|~¡¢£¤¥¦§¨©ª«¬®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùúûüýþÿ– —‘’‚“”„•‹›€'
  - var sampleLigatures = 'ff fi fj fl ffi ffj ffl st ct Th'
  - var waterfallSizes = [ 14, 16, 18, 20, 24, 30, 36, 48, 60, 72 ]

  h3= font.name

  //- stylperjade whitelist: font-sample--*
  .font-sample(class='font-sample--#{font.class}')
    .size--huge AaBb
    .glyph-range!= sampleCharacters
    .glyph-range= sampleLigatures

    hr

    .size-waterfall
      each size in waterfallSizes
        div(style='font-size: #{size}px;')
          span= size
          != sampleCharacters + sampleCharactersAdditional

    hr

    .size-grid
      .grid
        .grid__item.desktop-one-third
          .size-grid__item(style='font-size: 14px;') 14 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.
        .grid__item.desktop-one-third
          .size-grid__item(style='font-size: 16px;') 16 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.
        .grid__item.desktop-one-third
          .size-grid__item(style='font-size: 18px;') 18 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.
        .grid__item.desktop-one-half
          .size-grid__item(style='font-size: 20px;') 20 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.
        .grid__item.desktop-one-half
          .size-grid__item(style='font-size: 24px;') 24 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.
        .grid__item
          .size-grid__item(style='font-size: 30px;') 30 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.

    hr

block content

  h1 Font Samples

  each font in fonts
    +fontSample(font)
