extend ../style-guide

block content

  h1 Form Elements
  p Sample form fields in various combinations.

  h2 Standard Input Templates
  p A single question, with a single answer – text input, select, or textarea.

  .field(id='field--headline')
    .field__question
      label(for='control--headline') Add a headline
        |  
        abbr(title='This field is required') *
    .field__answer
      input.control.control--text(type='text', name='headline', id='control--headline')
    .field__assistance Keep it short and memorable

  .field(id='field--title')
    .field__question
      label(for='control--title') Title
    .field__answer
      select.control.control--choice(name='title', id='control--title')
        option(value='') -- Please Choose --
        - for val in ['Mr', 'Mrs', 'Miss', 'Ms', 'Dr', 'Prof' ]
          option(value=val)= val

  .field(id='field--fruit')
    .field__question
      label(for='control--fruit') Choose your favourite fruit
    .field__answer
      select.control.control--choice.control--multilined(name='fruit', id='control--fruit', multiple, size='5')
        - for val, i in ['Orange', 'Banana', 'Apple', 'Grape', 'Melon', 'Pear' ]
          option(value=i)= val
    .field__assistance You can select multiple answers

  .field(id='field--message')
    .field__question
      label(for='control--message') Add a message
    .field__answer
      textarea.control.control--text.control--multilined(name='message', id='control--message', rows='6')

  .field(id='field--image')
    .field__question
      label(for='control--image') Upload an Image
    .field__answer
      input.control.control--file(type='file', name='image', id='control--image')

  hr

  h2 Multi-Input Templates
  p One question, with multiple parts to the answer – text inputs, selects, or textareas, in any combination. Uses the 
    a(href='https://github.com/clocklimited/responsive-grid') Responsive Grid
    | .

  .field(id='field--full-name')
    .field__question What is your name?
    .field__answer
      .grid
        .grid__item.tablet-one-half
          label
            span First Name
            input.control.control--text(type='text', name='firstname')
        .grid__item.tablet-one-half
          label
            span Last Name
            input.control.control--text(type='text', name='lastname')

  .field(id='field--dob')
    .field__question Date of Birth
    .field__answer
      .grid
        .grid__item.tablet-one-third
          label
            span.is-vhidden Choose a Day
            select.control.control--choice(name='dob-day', id='control--dob-day')
              - for (var i = 1; i <= 31; ++i)
                option(value=i)= i
        .grid__item.tablet-one-third
          label
            span.is-vhidden Choose a Month
            select.control.control--choice(name='dob-month', id='control--dob-month')
              - for month, i in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
                option(value=i + 1)= month
        .grid__item.tablet-one-third
          label
            span.is-vhidden Choose a Year
            select.control.control--choice(name='dob-year', id='control--dob-year')
              - var year = (new Date()).getFullYear()
              - for (var i = 0; i < 100; ++i)
                option(value=year, selected=(selected==year ? 'selected' : null))= year
                - year--

  h2 Boolean Templates
  p Single / Multiple radio buttons or checkboxes

  .field(id='field-terms')
    .field__answer
      label
        input.control.control--boolean(type='checkbox', name='terms', value='agreed')
        span I agree to the terms and conditions

  .field(id='field-colour')
    .field__question
      span Choose your favourite colour
        |  
        abbr(title='This field is required') *
    .field__answer
      ul.list--unstyled
        li
          label
            input.control.control--boolean(type='radio', name='color', value='#f00', checked='checked')
            span Red
        li
          label
            input.control.control--boolean(type='radio', name='color', value='#0f0')
            span Green
        li
          label
            input.control.control--boolean(type='radio', name='color', value='#00f')
            span Blue
        li
          label
            input.control.control--boolean(type='radio', name='color', value='#000')
            span Black
        li
          label
            input.control.control--boolean(type='radio', name='color', value='#336699')
            span Purple

  h2 Button Template

  .field(id='field-actions')
    .button-group
      button.button(type='reset') Clear
      button.button.button--primary(type='submit') Submit

  hr

  h2 Error Messages
  p Add a class of `field--error` to the wrapping field and add a some feedback.

  .field.field--error(id='field--name')
    .field__question
      label(for='control--name') Add a name
    .field__answer
      input.control.control--text(type='text', name='name', id='control--name')
    .field__feedback Please enter a name

  .field.field--error(id='field--dinosaur')
    .field__question
      label(for='control--dinosaur') Favourite Dinosaur
    .field__answer
      select.control.control--choice(name='dinosaur', id='control--dinosaur')
        - for val, i in [ 'T-Rex', 'Stegosaurus', 'Velociraptor', 'Triceratops' ]
          option(value=i)= val
    .field__feedback Please select an option
