extend ../style-guide

mixin exampleImage(image)

  - var imageDimensions = image.ratio.split(':')
  - var width = imageDimensions[0]
  - var height = imageDimensions[1]
  - var targetWidth = 400
  - var calcHeight = (height / width) * targetWidth

  h2 #{image.name}
  p
    img(src='http://img.clock.co.uk/#{targetWidth}x#{calcHeight}?text=#{width}:#{height}', alt='Example #{image.name} Ratio Image')


block content

  h1 Image Ratios

  each image in ratios
    +exampleImage(image)
