extend ../style-guide

block content

  .prose
    h2 Format
    p Global function available in all Jade templates. Example: #[code format(new Date(), 'LL')]
    ul
      each value, key in config.locale.longDateFormat
        li
          code #{key}
          | : 
          em #{format(new Date(), key)}
    ul
      each value, key in config.formats
        li
          code #{key}
          | : 
          em #{format(new Date(), key)}
    ul
      li #[code calendar]: #[em #{format(new Date(), 'calendar')}]
      li #[code from]: #[em #{format(new Date(), 'from')}]
    p Custom timezone, example: #[code format(new Date(), 'timezone', 'America/New_York')]
    ul
      li #[code timezone]: #[em #{format(new Date(), 'timezone', 'America/New_York')}]

    hr

    h2 Formatted URLs
    p Not global. Should be passed to each template as required. Visit this page with #[a(href='?key=value#test') more complex URL] for a better example.
    ul
      each value, key in formattedUrls
        li
          code formattedUrls.#{key}
          | : 
          a(href=value) #{value}

    hr

    h2 Share URLs
    p Not global. Should be passed to each template as required. Can be supplemented with our JS popup component to avoid Users leaving their current page.
    ul
      each value, key in shareUrls
        li
          code shareUrls.#{key}
          | : 
          a(href=value, target='_blank') Link
